{% extends 'base.html' %}

{% block head %}
    <title>Influenza predictor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid">
    <div class="row-12 p-3 m-1 grid text-center block">
        <P class="display-4"><i>Web Tool for Disease Incidence Estimation with SHOGUN</i></P>
    </div>

    <div class="container-fluid">
        <div class="row ml-1 mr-1 mb-1">
            <div class="col-2 mr-1">
                <div class="row mb-1 block">
                    <h3>Total Number of cases</h3>
                    <P class="display-3">{{ estimates['total_count'] }}</P>
                </div>
                <div class="row mb-1 block">
                    <h3>Estimated cases by country</h3>
                    <div class="container">
                        <table class="table text-white">
                            <tbody>

                            <tr>
                                <td><h4>Austria</h4></td>
                                <td><h4>{{ estimates['austria_count'] }}</h4></td>
                            </tr>
                            <tr>
                                <td><h4>Belgium</h4></td>
                                <td><h4>{{ estimates['belgium_count'] }}</h4></td>
                            </tr>
                            <tr>
                                <td><h4>Germany</h4></td>
                                <td><h4>{{ estimates['germany_count'] }}</h4></td>
                            </tr>
                            <tr>
                                <td><h4>Italy</h4></td>
                                <td><h4>{{ estimates['italy_count'] }}</h4></td>
                            </tr>
                            <tr>
                                <td><h4>Netherlands</h4></td>
                                <td><h4>{{ estimates['netherlands_count'] }}</h4></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row block">
                    <h3>Last Updated at:</h3>
                    <p>
                    <h1>2020/06/12</h1></p>
                </div>
            </div>
            <div class="col-9 ocean">
                <div class='container'>
                    <img src="{{ url_for('static', filename='images/bitmap.png') }}" style="width:100%">
                    <div class='austria'><h1>{{ estimates['austria_count'] }}</h1></div>
                    <div class='belgium'><h1>{{ estimates['belgium_count'] }}</h1></div>
                    <div class='germany'><h1>{{ estimates['germany_count'] }}</h1></div>
                    <div class='italy'><h1>{{ estimates['italy_count'] }}</h1></div>
                    <div class='netherlands'><h1>{{ estimates['netherlands_count'] }}</h1></div>

                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}